.row{
    padding: 20px;
    background-color:rgb(126, 106, 243) ;
}
.container{
    width: auto;
}
.parte1, .parte2{
    display: inline-block;
    text-align: justify;
}
img{
    width: 100%;
}
.img-proyecto{
    box-shadow: 10px 10px 5px #160249;
    box-shadow: ejex ejey difumasion color;
}