<div class="row">
    <h2>Experiencia Laboral:</h2>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">   
        <h3>Estética Moni-Mar.</h3>
        <h4>Desde:2005    Hasta: Actualidad.</h4>
        <h5>Dueña-Operadora.</h5>
        <p>Manicura, Pedicura,Depiladora.</p>
        <img src="../../../assets/logo.Estética.jpg"  width="100"  height="100">
    </div>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">       
         <h3>Hipercerámico SAIYC.</h3>
         <h4>Desde:04/2008    Hasta:04/2009   </h4>
         <h5>Administración.</h5>
         <p>Atención y pago a Proveedores.Atención Telefónica.
            Trámites Banarios.Liquidación de horas Extras.
            Control planillas de asistencias.</p>
        <img src="../../../assets/logo-Hiper-C.png"  width="150"  height="100">  
     </div>
     <div class="col-lg-1"></div>
     <div class="col-lg-11">        
        <h3>Municipalidad de Godoy Cruz.</h3>
        <h3>Dirección De Servicios Públicos.</h3>
        <h4>Desde:2003     Hasta:2007</h4>
        <h5>Administración.</h5>
        <p>Atención telefónica. Contestación de Expedientes.</p>
        <img src="../../../assets/logo-Muni-GC.jpg"  width="100"  height="100"> 

      </div>
</div>
