<div class="row">
    <h1>Experiencia Laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">   
         <ul>
            <li><h1>Trabajo1</h1><h3>(tiempo laboral)</h3></li>
            <p>Lorem ipsum dolor sit amet consectetur
               adipisicing elit.Quo consequuntur, 
               earum quidem obcaecati animi facere aperiam, 
               eum asperiores magnam consequatur repellat
               quisquam ipsum rerum eius officia illum 
               repellendus quasi itaque?</p>
         </ul>
         <ul>
            <li><h1>Trabajo2</h1><h3>(tiempo laboral)</h3></li>
            <p>Lorem ipsum dolor sit amet consectetur
               adipisicing elit.Quo consequuntur, 
               earum quidem obcaecati animi facere aperiam, 
               eum asperiores magnam consequatur repellat
               quisquam ipsum rerum eius officia illum 
               repellendus quasi itaque?</p>
         </ul>
         <ul>
            <li><h1>Trabajo3</h1><h3>(tiempo laboral)</h3></li>
            <p>Lorem ipsum dolor sit amet consectetur
               adipisicing elit.Quo consequuntur, 
               earum quidem obcaecati animi facere aperiam, 
               eum asperiores magnam consequatur repellat
               quisquam ipsum rerum eius officia illum 
               repellendus quasi itaque?</p>
         </ul>
    </div>
</div>
