<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/fotoMoni.jpg" class="img-fluid" id="FotoDePerfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <h5 id="nombre y apellido">Mónica Gabriela Matínez.</h5>
        <h6 id="título">Full Stack Developer Jr.</h6>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h5>Acerca De Mí:</h5>
            <p> Me adapto fácilmente al puesto con los
                conocimientos adquiridos.
                Poseo muy buenas relaciones interpersonales.
                Soy ordenada y Proactiva.
            </p>
        </span>
    </div>
</div>
