<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/fotoMoni.jpg" class="img-fluid" id="FotoDePerfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Mónica Gabriela Matínez.</p>
        <p id="título">Full Stack Developer Jr.</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca De Mí:</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
               Fugiat nesciunt voluptatibus quam doloribus reprehenderit
               dolorem laudantium officia, temporibus ut autem culpa adipisci
               tempore eveniet non, iste odit, repellendus nostrum veritatis?</p>
        </span>
    </div>
</div>
