<div class="row">
    <h2>Educación:</h2>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">   
            <h3>Argentina Programa:</h3>
            <h4>Desde:08/2021     Hasta:08/2022    </h4>
            <h5>#SéProgramar-#YoProgramo.</h5>
            <img src="../../../assets/logo-Arg-Prog-2.png" width="100"  height="70">
    </div>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">                       
            <h3>UTN-FRM.(Universidad Tecnológica Nacional Facultad Regional Mendoza).</h3>
            <h4>Desde:2005     Hasta:2006</h4>
            <h5>Licenciada En Higiene y Seguridad En EL Trabajo.</h5>
            <img src="../../../assets/logo-UTN-FRM.jpg" width="100"  height="70">
    </div>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">         
            <h3>Colegio Alberto Schweitzer.</h3>
            <h4>Desde:1987     Hasta: 1992</h4>
            <h5>Perito Mercantil.</h5>
            <img src="../../../assets/Escudo-Colegio-Schweitzer.jpg" width="100"  height="70">
    </div>
</div>
