<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/arg-programa-logo.png" id="logoAP">
        </div>
        <div class="redes">
            <a href=""> <img src="../../../assets/linkedin.jpg" id="linkedin"></a>
            <a href=""> <img src="../../../assets/logo-telegram2.png" id="Telegram"></a>
            <a href=""> <img src="../../../assets/logo-GitHub.png" id="GitHub"></a>
            <button type="button" class="btn btn-outline-dark">INGRESO</button>
        </div>
    </div>
</div>

